<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post" target="_blank"  autocomplete="on" enctype="multipart/form-data">
        <label>photo</label><br>
        <input type="file" name="photo"><br>


        <label>name</label><br>
        <input type="text" name="name"><br>

        <label>name english</label><br>
        <input type="text" name="nameEn"><br>

        <label>father</label><br>
        <input type="text" name="father"><br>

        <label>mother</label><br>
        <input type="text" name="mother"><br>

        <label>birth</label><br>
        <input type="text" name="birth"><br>

        <label>nid</label><br>
        <input type="text" name="nid"><br>

        <label>pin</label><br>
        <input type="text" name="pin"><br>

        <label>address</label><br>
        <input type="text" name="address" value="বাসা/হোল্ডিং , গ্রাম: , ডাকঘর: - , ,"><br>

        <label>birth place</label><br>
        <input type="text" name="birthPlace"><br>

        <label>blood</label><br>
        <input type="text" name="blood" value="A+"><br>
       
        <input type="submit" value="Submit">
      </form> 
</body>
</html>